body {
    font-family:Verdana;
}

header h1{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*k25u0w*_gcl_au*MTU1MDYzNTE3Mi4xNzQ0NzA1ODU2*_ga*MTkwNjY3ODg2Mi4xNzMxOTMwNDI0*_ga_3LRZM6TM9L*MTc0NDg4MDE3OC4xMS4xLjE3NDQ4ODE0NTcuMC4wLjA.");
    color: yellow;
    text-align: center;
    font-size: 75px;
    width: 100%;
    margin: 50px auto;
    height: 200px;
}

h2 {
    color: white;
}

.brushes h2 {
    background-color: greenyellow;
}

.frames h2 {
    background-color: darksalmon;
}

.paint h2 {
    background-color: lightblue;
}

strong {
    color: blue;
    shadow
}